{
  "settings": {
    "twilio": {
      "id": "YOUR_ID_HERE",
      "token": "YOUR_TOKEN_HERE",
      "from": "+15555555555",
      "to": "+15555555556"
    },
    "logging": {
      "url":            "http://dot.com",
      "token":          "look-a-me-im-a-token",
      "client-id":      "CLIENTID",
      "client-secret":  "CLIENTSECRET",
      "enabled": true
    }
  },
  "buttons": [
    {
      "name": "myName",
      "id": "da:sh:bu:tt:on:id",
      "action": "gong",
      "slack": {
        "webhook": "https://hooks.slack.com/services/SERVIXEXXX/IDOFSLACKHOOKXXXYYYYZZZZ",
        "channel": "#general",
        "username": "Dash-button",
        "message": "From amazon dash."
      },
      "giphy": {
        "url": "http://api.giphy.com/v1/gifs/search",
        "key": "GIPHYKEYXXX",
        "searchTerms": ["amazon", "dash","button","node"]
      }
    },
    {
      "name": "Post to a url",
      "id": "da:sh:bu:tt:on:id",
      "action": "post",
      "post": {
        "url": "http://site.com/to/post/to",
        "auth": {
          "user": "username",
          "pass": "password",
          "sendImmediately": false
        },
        "headers": {
          "User-Agent": "request"
        }
      }
    },
    {
      "name": "Send a text",
      "id": "da:sh:bu:tt:on:id",
      "action": "text",
      "messages": ["Ding Dong.", "Hey, someone is at your door", "( ͡° ͜ʖ ͡°)", "o/ o_ o/ o_", "(☞ﾟヮﾟ)☞"]
    }
  ]
}
